body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#toggle-container {
  text-align: center;
  background: rgb(234, 222, 222);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#toggle-button {
  padding: 10px 20px;
  border: none;
  background: #c010a8;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#toggle-button:hover {
  background: #c80c86;
}

#message {
  margin-top: 20px;
  font-size: 1.125rem;
  color: #333;
}